* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-geist-pixel-square), system-ui, sans-serif;
  height: 100%;
}

body {
  background-color: #575757;
  min-height: 100vh;
  padding-inline: 0.5%;
  padding-block: 2%;
}

code,
pre,
kbd,
samp {
  font-family:
    var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, monospace;
}
