.hero {
  border-radius: 50px;
  height: 100%;
  box-shadow:
    inset 14px 14px 28px #0b0b0b,
    inset -14px -14px 28px #0b0b0b;
  background: linear-gradient(
    90deg,
    #000000 0%,
    #0f0f0f 5%,
    #2f2f2f 50%,
    #0f0f0f 95%,
    #000000 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e6e8eb;
}

.hero h1 {
  margin-bottom: 15%;
  font-size: 2.5rem;
  letter-spacing: 4px;
  font-weight: 500;
}

.hero span {
  color: #98938e;
}
